/*股票走势*/
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.left{float: left;}
.right{float:right;}
body{ overflow-x: hidden;}
.stockTrend{ background-color: #fff; padding: 0.25rem 0.30rem 0.40rem 0.30rem; font-size: 0.12rem; margin-bottom: 0.20rem;}
.stockTrend_Name{ font-size: 0.36rem; color: #3C3C3C; font-weight: bold; height: 0.50rem; line-height: 0.50rem; margin-bottom: 0.25rem;}
.stockTrend_Name small{font-size: 0.28rem; color: #999999; padding-left: 0.08rem; font-weight: normal;}
.stockTrendBullish{ padding-bottom: 0.30rem; border-bottom: 1px solid #E5E5E5; overflow: hidden;}
.stockTrend_amount{ margin-right: 0.8rem;}
.stockTrend_pice small,.stockTrend_amount small{font-size: 0.24rem; color: #999999; display: inline-block; vertical-align: middle;}
.stockTrend_pice em,.stockTrend_amount em{font-size: 0.36rem; color: #FF423D; padding-left: 0.08rem; display: inline-block; vertical-align: middle;}
.stockTrendAnalyze{font-size: 0.32rem; color: #3C3C3C; line-height: 1.5; padding: 0.25rem 0;}
.stockTrendProgress{padding-top: 0.8rem;}
.progressBg{ width: 100%; height: 0.20rem; background: #E9E9E9; border-radius: 0.15rem; position: relative;}
.progressBg .progressBar{ position: absolute; left: 0; top: 0;  height: 0.20rem; border-radius: 0.15rem; max-width: 100%; background:-webkit-linear-gradient(left,#FF3D71,#27A4FF);}
.progressBg .progressBar:after{ content: '◆'; position: absolute; right: 0; top: -0.75rem; right: -0.25rem; width: 0.55rem; height: 0.55rem; background: #FF3D71; border-radius: 0.05rem; z-index: 10; line-height: 3.5; font-size: 0.30rem; color: #FF3D71; text-align: center;}
.progressBg .progressBar:before{ position: absolute; right: 0; top: -0.75rem; right: -0.25rem; width: 0.55rem; height: 0.55rem;  line-height: 0.55rem;text-align: center; color: #fff; font-size: 0.24rem; z-index: 20}
.progressTitle{ overflow: hidden; width: 90%; margin: 0 auto; font-size: 0.26rem; color: #999999; display: -webkit-flex; display: flex; flex-direction: row; justify-content: space-between;margin-top: 0.15rem;}

/*选项卡*/
.stockTab{ background-color: #fff; padding: 0.30rem; margin-bottom: 0.20rem;}
.stockTabTitle li{ float:left; width: 25%; text-align: center; font-size: 0.30rem; color: #999; height: 0.65rem;}
.stockTabTitle li a{ color: #999;}
.stockTabTitle li.active{ color: #3C3C3C; position: relative;}
.stockTabTitle li.active a{ color: #3C3C3C;}
.stockTabTitle li.active:after{ content: ''; position: absolute; width: 30%; height: 0.04rem; background: #FF5A1C; left: 50%; margin-left: -15%; bottom: 0;}
.stockTabTitle li:first-child{ text-align: left;}
.stockTabTitle li:last-child{ text-align: right;}
.stockTabText{ padding: 0.20rem; line-height: 1.5; font-size: 0.28rem;color: #FF5A1C; background: #FFF5ED; border-radius: 0.06rem; margin-top: 0.28rem; position: relative;}
.stockTabText:after{ content: ''; position:absolute; width: 0.30rem; height: 0.30rem; background: #FFF5ED; transform: rotate(45deg); top: -0.15rem; left: 0.50rem;}

/*市场感情*/
.marketSentiment{ background-color: #fff;  margin-bottom: 0.20rem;}
.cartsPie{ width: 100%; height: 3.40rem; position: relative; background: #fff; }
.emotionalLine{ position: absolute; width: 2.84rem; height: 2.84rem; margin-left: -1.35rem; margin-top: -1.30rem; border: 1px solid #E5E5E5; border-radius: 50%; left: 50%; top: 50%; box-sizing: border-box;}
.emotionalLine:after{content: ''; display: block; position: absolute; width: 1.64rem; height: 1.64rem; margin-left: -0.84rem; margin-top: -0.83rem; border: 1px solid #E5E5E5; border-radius: 50%;left: 50%; top: 50%;}
@media only screen and (max-width: 768px) {
    .emotionalLine{ margin-left: -1.41rem; margin-top: -1.34rem;}
}
.emotionalLine span:first-child{opacity: 0.8; font-size: 0.5rem; color: #538FFF; display: block;}
.emotionalLine span:last-child{font-size: 0.26rem; color: #999999;}
.general{ padding: 0.40rem 0.30rem; }
.generalHeading{font-size: 0.32rem; color: #3C3C3C; display: block; margin-bottom: 0.15rem;}
.generalintroduce{font-size: 0.28rem; color: #999999; display: block; line-height: 1.5;}

/*主题异动*/
.themeChanges{ background-color: #fff;}
.cartsBar{width: 100%; height: 4.85rem; position: relative; background: #fff; padding-bottom: 0.45rem;}
.charts_themeChanges{ width: 100%; height: 3.54rem; position: absolute; left: 0; top: 0.85rem;}
.themeChangesTitle{ position: absolute; left: 0.35rem; top: 0.40rem;font-size: 0.28rem; color: #3C3C3C;}
.themeChangeslengA,.themeChangeslengB{font-size: 0.24rem; color: #999999; position: absolute; top: 0.45rem; right: 0.35rem;}
.themeChangeslengA i{ display: inline-block; width: 0.16rem; height: 0.16rem;opacity: 0.9; background: #FF462F; vertical-align: middle; margin-right: 0.10rem}
.themeChangeslengB i{ display: inline-block; width: 0.16rem; height: 0.16rem;opacity: 0.9; background: #81ADFF; vertical-align: middle; margin-right: 0.10rem}

/*控盘力度*/
.StrengthControlPlate{ background-color: #fff; padding: 0.40rem 0.35rem; margin-bottom: 0.20rem;}
.controlPlateWrap{ width: 6.80rem; height: 5.15rem; margin: 0 auto; position: relative; margin-bottom: 0.8rem;}
.palteTitle{font-size: 0.28rem; color: #3C3C3C;}
.palteBg{ width: 4.02rem; height: 4.02rem; position: absolute; background: url("../images/platebg.png") no-repeat; background-size: cover; left: 50%; margin-left: -2.01rem; top: 0.55rem;}
.palteBg > .scale i{ width: 0.20rem; height: 0.20rem; background: #7BA9FF; border-radius: 50%; position: absolute; z-index: 100;}
.palteBg > .scale i:nth-child(1){ left: 1.91rem; top: 0.2rem;}
.palteBg > .scale i:nth-child(2){ left: 3.60rem; top: 1.89rem;}
.palteBg > .scale i:nth-child(3){ left: 1.91rem; bottom: 0.2rem;}
.palteBg > .scale i:nth-child(4){ left: 0.22rem; top: 1.89rem;}
.paltArrow{ width: 1.28rem; height: 0.98rem; background: url("../images/palteArrow.png") no-repeat; background-size: cover; position: absolute; left: 2.43rem; top: 1.53rem; transform-origin: -0.42rem 0.48rem; transform: rotate(270deg);transition:transform linear .8s; z-index: 10;}
.palteTitle .sp1{ position: absolute; top: 0; left: 50%; margin-left: -0.5rem;}
.palteTitle .sp2{ position: absolute; top: 50%; right: 0; margin-top: -0.2rem;}
.palteTitle .sp3{ position: absolute; bottom: 0; left: 50%; margin-left: -0.5rem;}
.palteTitle .sp4{ position: absolute; left: 0; top: 50%;  margin-top: -0.2rem;}
.palteTitle .active{ color: #FF773E }

/*资金流向*/
.fundFlow{ background-color: #fff; padding: 0.40rem 0.30rem; margin-bottom: 0.20rem;}
.capitalInflowTit .sp1{position: absolute;font-size: 0.32rem; color: #FF5A1C; left: 0; top: 0;}
.capitalInflowTit .sp2{position: absolute;font-size: 0.28rem; color: #FF5A1C; left: 1.5rem; top: 0.05rem;}
.capitalInflowTit .sp3{position: absolute;font-size: 0.22rem; color: #999999; right: 0; top: 0.06rem;}
.capitalInflow{ width: 100%; height: 2.9rem; margin-bottom: 0.3rem; position: relative;}
.capitalInflowNav span{ position: absolute; left: 0; font-size: 0.24rem; color: #3C3C3C;}
.capitalInflowNav .sm1{ top: 0.73rem;}
.capitalInflowNav .sm2{ top: 1.27rem;}
.capitalInflowNav .sm3{ top: 1.82rem;}
.capitalInflowNav .sm4{ top: 2.33rem;}
.capitalOutflow{ width: 100%; height: 2.8rem; position: relative; margin-bottom: 0.62rem;}
.capitalOutflow .capitalInflowTit .sp1,.capitalOutflow .capitalInflowTit .sp2{ color: #538FFF}

/*.capitalInflowCharts{ width: 4.80rem; height: 1.90rem; position: absolute; right: 0; top: 0.73rem; background-color: #FF5A1C;}*/
.capitalInflowCharts{ width: 100%; height: 1.90rem; position: absolute; left: 0; top: 0.73rem;}
.capitalOutflowCharts{ width: 100%; height: 1.90rem; position: absolute; left: 0; top: 0.73rem;}

/*行业流向*/
.IndustryTo{ background-color: #fff; padding-top: 0.4rem; margin-bottom: 0.20rem;}
.stocksFunds{ width: 100%; height: 4.95rem; position: relative; padding-bottom: 0.35rem; background: #fff; margin-bottom: 0.3rem;}
.stocksFunds span{ font-size: 0.24rem; color: #3C3C3C; position: absolute;}
.stocksFunds .sp1{ left: 0.35rem; top: 0;}
.stocksFunds .sp2{ right: 0.35rem; top: 0;}
.stocksFunds .sp3{ left: 3.5rem; bottom: 0;}
.stocksFunds .sp3 i:first-child{ display: inline-block; vertical-align: middle; width: 0.18rem; height: 0.08rem; background: #FF7D1F; border-radius: 30%;margin-right: 0.10rem;}
.stocksFunds .sp3 i:last-child{ display: inline-block; vertical-align: middle; width: 0.18rem; height: 0.08rem; background: #538FFF; border-radius: 30%; margin-right: 0.10rem;}
.stocksFunds .sp4{ right: 0.35rem; bottom: 0;}
.stocksFunds .sp4 i{ display: inline-block; vertical-align: middle; width: 0.24rem; height: 0.04rem; background: #FF3D71; margin-right: 0.10rem; position: relative;}
.stocksFunds .sp4 i:after{ content: ''; position: absolute; left: 0.06rem;top: -0.04rem; display: block;width: 0.12rem; height: 0.12rem; background: #FF3D71; border-radius: 50%;}
.stocksFunds .sp5{ right: 0.35rem; bottom: 0;}
.stocksFunds .sp5 i{ display: inline-block; vertical-align: middle; width: 0.18rem; height: 0.08rem; background: #FF9120; border-radius: 30%;margin-right: 0.10rem;}

.stocksFundsCharts{ width: 100%;  height: 3.73rem; overflow: hidden; position: absolute; left: 0; top: 0.8rem;}
/*筹码成本*/
.costChip{ background-color: #fff; padding-top: 0.4rem;}
.costOfChip{ height: 4.3rem; padding-bottom: 0.30rem; position: relative;}
.costOfChip span{font-size: 0.24rem; color: #FF5A1C; left: 0.35rem; top: 0; position: absolute;}
.costOfChipCharts{ width: 100%; height: 3rem; position: absolute; left: 0; top: 0.5rem;}

/*阻力位支撑位*/
.resistanceSupport{background-color: #fff;  margin-bottom: 0.20rem; border: solid 1px transparent; box-sizing: border-box;}
.resistanceSupportCharts{ width: 6.80rem;  height: 4.3rem; position: relative; margin: 0.4rem auto 0.3rem auto; font-size: 0.28rem; color: #3C3C3C;}
.resistanceSupportCharts span{ position: absolute; z-index: 20;}
.resistanceSupportCharts .sp1{ left: 0.23rem; top: 3.42rem}
.resistanceSupportCharts .sp7{ right: 0.23rem; top: 3.42rem}
.resistanceSupportCharts .sp2{ left: 0; top: 1.88rem}
.resistanceSupportCharts .sp6{ right: 0; top: 1.88rem}
.resistanceSupportCharts .sp3{ left: 0.95rem; top: 0.3rem}
.resistanceSupportCharts .sp5{ right: 0.95rem; top: 0.3rem}
.resistanceSupportCharts .sp4{ top: 0; left: 3.2rem}
.gaugeActive{ color: #FF773E!important; }
.resistanceSupportBg{ width: 4.52rem; height:3.60rem; background: url("../images/supportbg.png") no-repeat; background-size: cover; position: absolute; left: 50%; margin-left: -2.265rem; top: 0.5rem; z-index: 10; }
.resistanceSupportArrow{ width: 0.84rem; height: 1.83rem; background: url("../images/supportArrow.png") no-repeat; background-size: cover; position: absolute; left:1.85rem; bottom: 0.90rem; transform-origin: 0.41rem 1.40rem; transform: rotate(-110deg); transition:transform linear .8s;}
/*多空趋势*/
.longShortTrend{ background-color: #fff; padding-top: 0.40rem; }
.longShortTrendWrap{ width: 100%; height: 4.1rem; position: relative;font-size: 0.24rem; color: #3C3C3C;}
.longShortTrendWrap .sp1{ position: absolute; left: 0.35rem; top: 0;}
.longShortTrendWrap .sp2{ position: absolute; left: 2.65rem; top: 0;}
.longShortTrendWrap .sp1 i{ display: inline-block; vertical-align: middle; margin-right: 0.08rem; width: 0; height: 0; border-left:solid 0.1rem transparent; border-bottom:solid .18rem #FFA23C; border-right:solid 0.09rem transparent; position: relative;
    top:-0.05rem; }
.longShortTrendWrap .sp2 i{ display: inline-block; vertical-align: middle; margin-right: 0.08rem; width: 0; height: 0; border-left:solid 0.1rem transparent; border-top:solid .18rem #2772FF; border-right:solid 0.09rem transparent; position: relative;
    top:-0.05rem; }
.longShortTrendeachers{ height: 3.6rem; width: 100%; position: absolute; left: 0; top: .5rem; background: red;}

/*盈利能力*/
.profitability{ background-color: #fff; padding-top: 0.40rem; margin-bottom: 0.20rem;}
.stocksFundsCharts{width: 100%; height: 3.8rem;  position: absolute; left: 0; top: 0.5rem;}

/*成长能力*/
.growthAbility{background-color: #fff; padding-top: 0.40rem; margin-bottom: 0.20rem;}
.growthAbility .stocksFunds{ height: 4.4rem}
.growthAbilityCharts{ width: 100%; height: 3.3rem; position: absolute; left: 0; top: 0.55rem;}


/*偿还能力*/
.repaidAbility{background-color: #fff; padding-top: 0.4rem; margin-bottom: 0.20rem;}
.repaidAbility .stocksFunds{ height: 4.7rem}
.repaidAbilityCharts{ width: 100%; height: 3.45rem; position: absolute; left: 0; top: 0.55rem;}

/*股东人数*/
.holdersNumber{background-color: #fff; padding-top: 0.4rem;}
.holdersNumber .stocksFunds{ height: 4.8rem;}
.holdersNumberCharts{ width: 100%; height: 3.6rem; position: absolute; left: 0; top: 0.55rem;}

.supernatant{ width: 1.98rem; height: 1.68rem; background: url("../images/supernatant.png") no-repeat; background-size: cover; position: fixed; right: 0; top: 50%;}